<app-header></app-header>
<div class="container py-5 text-center">
    <div class="row">
        <div class="content-border col-sm-12  col-md-4 offset-md-4">
            <h3 class="color">Login to My TODO List</h3>
        </div>
    </div>
    <div class="row">
        <div class="content-border jumbotron jumbotron-fluid col-sm-12  col-md-4 offset-md-4">
            <form [formGroup]='loginForm' (ngSubmit)="login()" class="py-2">
                <div class="form-group">
                    <input type="text" placeholder="User Name" class="form-control" formControlName="userName">
                    <div *ngIf="getControl('userName').errors && (getControl('userName').touched || getControl('userName').dirty)">
                        <div *ngIf="getControl('userName').errors.required">
                            User Name cannot be empty
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Password" class="form-control" formControlName="password">
                    <div *ngIf="getControl('password').errors && (getControl('password').touched || getControl('password').dirty)">
                        <div *ngIf="getControl('password').errors.required">
                            Password cannot be empty
                        </div>
                        <div *ngIf="getControl('password').errors.minlength">
                            
                            Password must contain atleast 4 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btncolor" type="submit" [disabled]='!loginForm.valid'>Login</button>
                </div>            
            </form>
            <a routerLink="/register">Register</a>
        </div>
    </div>
</div>

