body{
    align-items: center;
    text-align: center;
}
.heading{
    padding-bottom: 20px;
    
}
.table{
    text-align: left;
}
.text-box{
    margin-bottom: 20px;
}
.btns{
    margin-left: 3px;
    color: white;
}
.pointer{
    cursor: pointer;
}
.done{
    color: green;
}
.notDone{
    color: rgb(201, 132, 54);
}